<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% extends "bootstrap/base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block title %}
         Gymstore - Homepage
    {% endblock %}
    <!-- Bootstrap CSS -->


    {% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


    <!-- Style CSS -->
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta id="my-data" data-id="{{current_user.id}}" >
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.2/dist/vue.global.js"></script>

    {% endblock %}





  </head>
  {% block content %}
  <body>

    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="col-12"></div>
        </div>
    </div>
    <!-- End Top Bar -->

    <!-- Navigation bar -->
    <div id="vueApp">
    <nav class="navbar bg-light navbar-light navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <a href="{{ url_for('index') }}" class="navbar-brand"><span id="logo" title="logo">huuge</span></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Store</a></li>
                    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">My Account</a></li>
                </ul>

                <ul class="navbar-nav mr">
                    <li class="nav-item"><a href="{{ url_for('cart') }}" class="nav-link"><i id="shoppingcart" class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
   <!-- End Navigation Bar -->

    <!-- Smart Business content -->
    <div class="container-fluid">
        <product-page></product-page>
    </div>
</div>
  <!-- End Smart Business content -->





<!-- Footer -->

<div class="container">
    <div class="row my-5">
        <div class="col-md-4 my-4">
            <p class="footer-title">HUUGE.space</p>
            <p class="footer-text">We are bunch young aspiring techpreneurs’, who have been working together for several years.</p>
            <p class="footer-copyright">Copyright © 2020 Huuge.space. All rights reserved.</p>
        </div>

        <div class="col-md-4 my-4 text-center py-1 justify-content-center footer-2">
            <p class="font-weight-bold">Follow Us</p>
           <p><i class="fab fa-facebook"></i> <a href="">Facebook</a></p>
           <p><i class="fab fa-instagram"></i> <a href="">Instagram</a></p>
        </div>

        <div class="col-md-4 my-4 py-1 justify-content-center footer-3">
            <p class="font-weight-bold">Quick Links</p>
           <p><a href="#">Terms of Service</a></p>
           <p><a href="#">Privacy Policy</a></p>
           <p><a href="#">Refund Policy</a></p>
           <p><a href="#">Shipping Policy</a></p>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({});
    const PORT = "5006"
    const inventory_URL = "/inventory"
    const API_URI = 'http://localhost:';
    var user = $('#my-data').data();
    const update_Cart_URL = "http://localhost:5007/updateCart/" + user.id;
    const get_cart_URL = "http://localhost:5007/cart/" + user.id;
    const place_Order_URL = "http://localhost:5100/place_order"
    const process_payment_URL = "http://localhost:5100/process_payment"
    app.component('product-page', {
    template: `
    <div class="container" v-if="hasItems">
    <div class="row my-5" v-for="(item,i) in items">
        <div class="col-md-7 my-4">
            <img src="https://picsum.photos/536/354" class="img-fluid mx-auto d-block">
        </div>

        <div class="col-md-5 my-4">
            <p class="my-4 text-left font-weight-bold">[[item.name]]</p>
            <p class="my-1 text-left">$[[item.price]]</p>
            <p class="my-1 text-left">Quantity left: [[item.quantity]]</p>
            <div v-if="item.quantity != 0"><button @click="user_add_to_cart(item)" class="button-huuge mt-3 mb-3">Add to Cart</button></div>
            <div v-if="item.quantity != 0"><button @click="buy_item(item)" class="button-huuge">Buy Now</button></div>
            <div v-else> <button class="button-huuge my-5" disabled>Out of Stock</button></div>
        </div>
    </div>
</div>
    `,
    computed: {
        hasItems: function () {
            return this.items.length > 0;
        }
    },
    data() {
        return {
            uid: user.id,
            items: [],
            userCartItems : [],
        };
    }, methods: {
        getAllItems() {

            this.items = [
                {
                    "price": 1.8,
                    "productID": 3,
                    "name": "Apple",
                    "quantity": 4
                },
                {
                    "price": 1.5,
                    "productID": 4,
                    "name": "Orange",
                    "quantity": 5
                }
            ];


            console.log(this.items)
            //alert("order");
                    const response =
                        fetch(`${API_URI}${PORT}${inventory_URL}`,
                        {
                            method: "GET",
                            headers: {
                                "Content-type": "application/json"
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                    this.items = [];

                                } else {
                                    this.items = data.data.inventories;
                                    console.log(this.items);

                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error,
                                // service offline, etc
                                console.log(this.message + error);

                            });


        },
        getAllCartItems() {
                //for testing without calling api
            //     this.cartItems = [
            //     {
            //         "price": 1.8,
            //         "productID": 3,
            //         "productName": "Apple",
            //         "quantity": 4
            //     },
            //     {
            //         "price": 1.5,
            //         "productID": 4,
            //         "productName": "Orange",
            //         "quantity": 5
            //     }
            // ];

                // Uncomment this when inegreating
                var response = fetch(get_cart_URL)
                                .then(response => response.json())
                                .then(data => {
                                    console.log(response);
                                    if(data.code == 400){
                                        this.message = data.message
                                        var response = fetch(newCart,{
                                            method : "POST"
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log(response);
                                            if(data.code == 400){
                                                this.message = data.message

                                            }else{
                                                console.log(data)
                                            }
                                        })
                                        .catch(error => {
                                            console.log(this.message + error)
                                        });
                                    }else{
                                        console.log(data)
                                        if( Object.keys(data.data.cartItems).length !== 0){

                                            this.userCartItems = data.data.cartItems;
                                        }
                                        console.log(this.userCartItems)
                                    }
                                })
                                .catch(error => {
                                    console.log(this.message + error)
                                });
        },
        buy_item(item) {
                    let toBuy = {
                        "price": item.price,
                        "productID": item.productID,
                        "productName": item.name,
                        "quantity": 1
                    };
                    order = JSON.stringify({
                        "data" : {
                            "custID" : this.uid,
                            "cartItems" : [toBuy],
                            "total" : item.price,
                            "delivery": "This is sample address"
                        }
                    });
                    console.log(order)
                    var response = fetch(place_Order_URL,{
                        method: "POST",
                        headers:{
                            "content-type" : "application/json"
                        },
                        body : order
                    })

                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        window.open(data["paymentResult"]["data"]["payment_url"], '_blank')
                        var paymentResp = fetch(process_payment_URL,{
                            method : "POST",
                            headers:{
                            "content-type" : "application/json"
                            },
                            body : JSON.stringify(data)
                        })
                        .then(paymentResp => paymentResp.json())
                        .then(data2 =>{
                            console.log(data2)
                            switch (data2.code){
                                case 200:
                                    window.location.replace("http://localhost:5003/");
                                    break;
                                case 400:
                                case 500:
                                    var error = data2.message
                                default:
                                    throw `${data2.code}: ${data2.message}`;
                            }
                        })

                    });
            },
        user_add_to_cart(item){//pass in an item
            var toAdd = {
                "price": item.price,
                "productID": item.productID,
                "productName": item.name,
                "quantity": 1
            }
            console.log(this.userCartItems)
            var newCartItems = []
            var duplicateItem = false
            this.userCartItems.forEach(element => {
                if(element.productID == item.productID){
                    element.quantity += 1
                    newCartItems.push(element)
                    duplicateItem = true
                }else{
                    newCartItems.push(element)
                }
            });
            if(!duplicateItem){
                newCartItems.push(toAdd);
            }

            newCartItems = JSON.stringify({
                "cartItems" : newCartItems
            })
            var response = fetch(update_Cart_URL,{
                            method: "PUT",
                            headers:{
                                "content-type" : "application/json"
                            },
                            body : newCartItems
                        })

                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            var result = data.data
                            console.log(result)
                            switch (data.code){
                                case 201:
                                    this.getAllCartItems()//update cart items
                                    alert("1 " + item.name +' Added to cart !')
                                    break;
                                case 400:
                                case 500:
                                    var error = data.message
                                default:
                                    throw `${data.code}: ${data.message}`;
                            }
                        });
        }
    }, created () {
        // on Vue instance created, load the book list
        this.getAllCartItems();
        this.getAllItems();
    },
    delimiters: ['[[',']]']
  });

    const vm = app.mount('#vueApp')
</script>
{% endblock %}
    {% block javascript %}
    <script src="{{url_for('.static', filename='/js/jquery-3.5.1.slim.min.js')}}"></script>
    <script src="{{url_for('.static', filename='/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('.static', filename='/js/popper.min.js')}}"></script>

    {% endblock %}
  </body>
</html>
